<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAD1u6TQA_1mpV4mxps6ui56XYERW7u024</string>
	<key>GCM_SENDER_ID</key>
	<string>868943858988</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.spotifyDummy</string>
	<key>PROJECT_ID</key>
	<string>spotify-clone-f8316</string>
	<key>STORAGE_BUCKET</key>
	<string>spotify-clone-f8316.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:868943858988:ios:9de8a69b13ab565c797089</string>
</dict>
</plist>